#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 4px double black;
}

#header>span {
    color: gray;
    margin-bottom: 20px;
}