#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 4px double black;
}

#header>span {
    color: gray;
    margin-bottom: 20px;
}

#main-contents {
    display: grid;
    grid-template-columns: 30% 35% 35%;
}

#main-contents>section+section {
    border-left: 1px solid black;
}

#project dt {
    padding: 5px;
}

#project dt+dt {
    border-top: 1px solid black;
}

#work-experience {
    padding: 5px;
}

#work-experience>section+section {
    margin-top: 10px;
    border-top: 1px solid black;
}

#education {
    padding: 5px;
}

#education>ul {
    list-style-type: "- ";
}

#reviews-from-my-teachers {
    border-top: 1px solid black;
}

#articles {
    display: flex;
    justify-content: space-between;
}

#reviews-from-my-teachers article {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20%;
}

#reviews-from-my-teachers article+article {
    margin-left: 20px;
}

article>blockquote {
    color: lightgray;
    margin-left: 5px;
}