#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 4px double black;
}

#header>span {
    color: gray;
    margin-bottom: 20px;
}

#main-contents {
    display: grid;
    grid-template-columns: 30% 35% 35%;
}

#project {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#project dt {
    padding: 5px;
}

#project dt+dt {
    border-top: 1px solid #666;
}